@import '~spinthatshit/src/loaders';

$loader-color: #2A2C36;

.absolute-center {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.spinner {
  //@include loader01($align: middle);
  @include loader02($align: middle);
  //@include loader03($align: middle);
  //@include loader04($size: 56px, $border-size: 2px, $align: middle);
  //@include loader05($border-size: 4px, $align: middle);
  //@include loader06($size: 56px, $border-size: 4px, $align: middle);
  //@include loader07($size: 16px, $align: middle);
  //@include loader08($size: 20px, $gap: 6px, $align: middle);
  //@include loader09($size: 10px, $height: 48px, $gap: 8px, $duration: 1s, $align: middle);
  //@include loader10($size: 28px, $gap: 12px, $duration: 0.9s, $align: middle);
  //@include loader11($size: 20px, $gap: 10px, $duration: 0.8s, $align: middle);
  //@include loader12($size: 20px, $gap: 30px, $duration: 1s, $align: middle);
}
