<div class="container">
  <div class="row">
    <div vamiddle="" class="col-md-5 m-x-auto pull-xs-none">
      <div class="card">
        <div class="card-block p-a-2">
          <h1>Control de Asistencia</h1>
          <p class="text-muted">Ingrese sus datos</p>
          <div class="input-group m-b-1"><span class="input-group-addon">@</span>
            <input type="text" placeholder="Correo" class="form-control"/>
          </div>
          <div class="input-group m-b-1"><span class="input-group-addon"><i class="icon-lock"></i></span>
            <input type="password" placeholder="Contraseña" class="form-control"/>
          </div>
          <button type="button" class="btn btn-block btn-success">Aceptar</button>
        </div>
      </div>
    </div>
  </div>
</div>
