.center {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.spinner {
  width: 56px;
  height: 56px;
  border: 8px solid transparent;
  border-top-color: #2A2C36;
  border-bottom-color: #2A2C36;
  border-radius: 50%;
  position: relative;
  animation: loader-rotate 1s linear infinite;

  top: 50%;
  margin: -28px / 2 auto 0;
}

@keyframes loader-rotate {
  0% {
    transform: rotate(0);
  }

  100% {
    transform: rotate(360deg);
  }
}
